/* Base styles
 ********************************************************/

p {
  color: green
}

h1 {
  text-align: center
}

a {
  text-decoration: none
}

html {
  font-family: Helvetica Neue, Arial;
  background: whitesmoke;
}

